{% set url = ("/" | url) %}

<div class="inner">
    <a href="{{ url }}" class="rolandtoth">
        <img src="{{ cfg.paths.images }}roland-toth-pal.jpg" alt="" width="90" height="90">
    </a>

    <h3>
        <a href="{{ url }}">{{ cfg.siteName }}</a>
    </h3>

    <p>
        Experiments, tips and tricks in web development and design related topics. Learn more about <a href="https://rolandtoth.hu/about/">me</a> or my <a href="https://rolandtoth.hu/">works</a>.
    </p>

    <div class="sidebar-tags">
        {% import "posttags.njk" as pt %}
        {{ pt.posttags(collections.tagList | sort(false, false)) }}
    </div>

    <p class="credits">Made with <a href="{{ cfg.links.eleventy }}" target="_blank">Eleventy</a> | Source @ <a href="{{ cfg.links.githubSrc }}" target="_blank">GitHub</a></p>
</div>