---
breadcrumb:
  - {
    "text": "Home",
    "url": "/"
  }
  - {
    "text": "Tags",
    "url": "/tags/"
  }
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
addAllPagesToCollections: true
permalink: /tags/{{ tag | slug | lower }}/
---
{% extends 'layouts/@default.njk' %}

{% block metaTitle %}{{ ("Tag: " + postTags[tag].title) | pageTitle }}{% endblock %}

{% block main %}
  <h1>{{ postTags[tag].title }}</h1>

  {% set taglist = collections[tag] %}
  {% for p in taglist | reverse %}
    {% include "article.njk" %}
  {% endfor %}

{% endblock %}