.sb_link {
  display: inline-block;
}

.sb_link {
  text-decoration: none;
  margin: 0 0.25rem 0 0;
}

.icono-twitter {
  color: #55acee;
}

.icono-pinterest {
  color: #bd081c;
}

.icono-facebook {
  color: #3b5998;
}

.icono-tumblr {
  color: #35465C;
}

.icono-reddit {
  color: #5f99cf;
}

.icono-google {
  color: #dd4b39
}

.icono-linkedIn {
  color: #0077b5
}

.icono-email {
  color: #777;
}

.icono-xing {
  color: #1a7576;
}

.icono-whatsapp {
  color: #25D366;
}