{% set url = (p.url | url) %}
{% set disqusID = p.data.disqusID %}
{% set legacyURL = p.data.legacyURL or url %}
<article>
    <p class="date">
        {{ p.data.date | dateDisplay | safe }}
    </p>

    <a href="{{ url }}#comments" class="comment-count">
        <i class="icono-"></i>
        {{ p | disqusCommentCount(p.data.legacyURL) | safe}}
    </a>

    <h2>
        <a href="{{ url }}">{{ p.data.title }}</a>
    </h2>

    <div class="article-excerpt-wrap">
        {% if p.data.img %}
            <a href="{{ p.url }}">
                <img src="{{ p.url }}/{{ p.data.img }}" alt="" />
            </a>
        {% endif %}

        <div>
            {{ p.data.excerpt | md | safe }}
        </div>
    </div>

    <p>
        <a href="{{ url }}" class="button readmore">Read more</a>
    </p>
</article>
