{% set url = (p.url | url) %}
{% set disqusID = p.data.disqusID %}
{% set legacyURL = p.data.legacyURL or url %}
<article>
    <p class="date">
        {{ p.data.date | dateDisplay | safe }}
    </p>

    <a href="{{ url }}#comments" class="comment-count">
        <i class="icono-"></i>
        {{ p | disqusCommentCount(p.data.legacyURL) | safe}}
    </a>

    <h2>
        <a href="{{ url }}">{{ p.data.title }}</a>
    </h2>

    {{ p.data.excerpt | md | safe }}

    <p>
        <a href="{{ url }}" class="button readmore">Read more</a>
    </p>
</article>
