// note: if the minified CSS has "}#id" then nunjucks include fails

// variables
$version: "?v=20190330";
$base: #2c3235;
$paleblue: #49616e;
$blueishgrey: rgba(144, 164, 174, 0.18);
$bordercolor: #dadada;
$hlcolor: #ffeb3b;
$codeBgColor: #f2f2f2;
$sidebarWidth: 24rem;
$images: "/assets/images";

// breakpoints
$_mobile: 480;
$_tablet: 640;
$_desktop: 990;
$_hd: 1240;
$_xhd: 1600;
$tablet: "min-width: #{$_tablet}px";
$desktop: "min-width: #{$_desktop}px";
$hd: "min-width: #{$_hd}px";
$xhd: "min-width: #{$_xhd}px";
$max-mobile: "max-width: #{$_tablet - 1}px";
$max-tablet: "max-width: #{$_desktop - 1}px";
$max-desktop: "max-width: #{$_hd - 1}px";
$max-hd: "max-width: #{$_xhd - 1}px";

// imports
@import "normalize";
@import "mixins";
@import "fonts/raleway";
@import "fonts/benchnine";
@import "fg_grid/fg_grid";
@import "sharingbuttons-solid";

// icons
@import "icono/icono";
@import "icono/icons/search";
@import "icono/icons/mail";
@import "icono/icons/comment";
@import "icono/icons/socials";
@import "icono/icons/tag";
@import "icono/icons/caret";

// override defaults
*
// *::before,
// *::after
{
    box-sizing: border-box;
}

* {
    outline: none;
}

strong {
    font-weight: 600;
}

p {
    margin: 0 0 1.25rem;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 1.75rem;
}

.m-none {
    margin: 0;
}

.p-none {
    padding: 0;
}

::selection {
    background: rgba($paleblue, 0.2);
}

a {
    color: $paleblue;
    text-decoration: underline;

    &:hover {
        color: lighten($paleblue, 10%);
    }

    @media ($desktop) {
        transition: all 0.1s;
    }
}

// styles
html {
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    line-height: 1.75;
    color: $base;
    font-size: 15px;

    @media ($tablet) {
        font-size: 16px;
    }

    @media ($desktop) {
        font-size: 17px;
    }

    @media ($hd) {
        font-size: 18px;
    }
}

.main-content {
    background: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;

    @media($desktop) {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

main {
    flex-grow: 1;
    order: 2;
    max-width: 100%;
    position: relative;

    body.type-post & {
        @media($desktop) {
            > .mid {
                perspective-origin: top;
                perspective: 3px;
                height: 100vh;
                overflow-x: hidden;
            }
        }
    }
}

aside {
    padding: 0.5rem 1.5rem;
    position: relative;
    background: darken($paleblue, 16%);

    @media($desktop) {
        padding: 0 2rem;
        flex-basis: $sidebarWidth - 2rem;
        flex-shrink: 0;
        order: 1;
        text-align: center;
    }

    @media($hd) {
        flex-basis: $sidebarWidth;
    }

    .inner {
        z-index: 1;
        @media($desktop) {
            top: 2rem;
            padding: 1rem;
            position: sticky;
            height: calc(100vh - 3rem);
        }
    }

    .rolandtoth {
        display: inline-block;
        position: relative;
        top: 0.75rem;
        margin: 0 1rem 0 0;

        img {
            border-radius: 100%;
            display: inline-block;
            overflow: hidden;
            width: 2.4rem;
        }

        @media($desktop) {
            top: 0;
            margin: 0 0 1rem 0;
            img {
                display: block;
                width: 5.4rem;
            }
        }
    }

    p,
    a {
        color: rgba(white, 0.84);
    }

    p {
        font-size: 0.96rem;
        margin: 0.125rem;
        max-width: 30rem;
        
        body:not(.page-home) & {
            display: none;
        }
        
        @media($desktop) {
            display: block !important;
            margin: 0.125rem auto;
        }
    }

    h3 {
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 0.5rem !important;

        @media($desktop) {
            display: block;
        }

        a {
            color: white !important;
            text-decoration: none;
        }
    }

    [class*="icono"] {
        color: white;
    }

    @media($max-tablet) {
        .sidebar-tags {
            display: none;
        }
    }
}

.credits {
    display: none;
    font-size: 75%;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    text-align: center;
    color: rgba(white, 0.33);

    a:not(:hover) {
        text-decoration: none;
    }

    @media($desktop) {
        display: block;
    }
}

.button {
    display: inline-block;
    border: 1px solid lighten($base, 50%);
    background: transparent;
    line-height: 1.1 !important;
    padding: 0.6rem 1.4rem;
    border-radius: 2px;
    user-select: none;
    text-decoration: none;

    &:hover {
        background: $paleblue;
        border-color: $paleblue;
        color: white;
    }
}

.button-solid {
    @extend .button;
    border: 1px solid $paleblue;
    background: $paleblue;
    color: white;

    &:hover {
        background: transparent;
        border-color: $paleblue;
        color: inherit;
    }
}

h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: "BenchNine", sans-serif;
    font-size: 2.5rem;
    line-height: 1.125;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $paleblue;

    @media ($desktop) {
        font-size: 4.5rem;
        word-spacing: 0.25rem;
        margin-bottom: 2.4rem;
    }
}

h2 {
    font-size: 1.84rem;
    line-height: 1.25;
    margin: 1.25rem 0 1rem;

    @media ($desktop) {
        font-size: 2.24rem;
        word-spacing: 0.2rem;
        margin-top: 2rem;
    }

    &,
    a {
        color: $paleblue;
        font-family: "BenchNine", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
    }
}

h3 {
    font-size: 1.48rem;
    text-transform: uppercase;
    margin: 0 0 1rem;
    color: $paleblue;
    letter-spacing: 0.33px;
    font-family: "BenchNine", sans-serif;

    @media ($desktop) {
        font-size: 1.7rem;
    }
}

.content-maxwidth {
    max-width: 45rem;
}

.pagination {
    user-select: none;
    position: relative;
    margin: 2rem 0 2rem -1rem;

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .icon-wrap {
        display: inline-block;
        transform: scale(0.6);
    }

    li {
        display: inline-block;

        &:not(.current) a {
            .text {
                display: none;
            }
        }

        &.disabled a {
            color: $base;
            text-decoration: none;
            pointer-events: none;
            cursor: default;
            opacity: 0.4;
        }

        &.current a {
            opacity: 1 !important;
            margin: 0 1rem;
        }

        &.first,
        &.last {
            i {
                &:first-child {
                    margin-right: -3px;
                }

                &:last-child {
                    margin-left: -3px;
                }
            }
        }

        a {
            display: inline-block;
            margin: 0 0.33rem;
            min-height: 34px;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.left-offset {
    padding: 0 1.5rem;
    @media($desktop) {
        padding-left: 6rem !important;
    }
}

.top-wrap {
    padding: 1.5rem 1.5rem 1rem;

    body:not(.type-post) & {
        padding-left: 0;
        padding-right: 0;
    }

    @media($desktop) {
        padding: 6rem 2rem 2rem 0;
    }

    &:empty {
        display: none;
    }
}

.parallax {
    @media($desktop) {
        transform: translateZ(-1px) scale(1.34);
        transform-origin: top;
        transform-style: preserve-3d;
        // backface-visibility: hidden;
    }
}

.article-top {
    @extend .top-wrap;
    position: relative;

    @media($max-tablet) {
        background-image: none !important;
        background: #f2f2f2;
    }

    @media($desktop) {
        padding-bottom: 4rem;

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            display: block;
            pointer-events: none;
        }

        &::before {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &::after {
            background-color: #f2f2f2;
            background-color: rgba(darken($paleblue, 25%), 0.33);
        }
    }

    * {
        position: relative;
        z-index: 1;
        @media($desktop) {
            color: white !important;
        }
    }
}

.article-body {
    background: white;
    position: relative;
    padding: 1.5rem;
    
    > img,
    > .cp_embed_wrapper,
    > iframe {
        display: block;
        margin-bottom: 1.25rem;
    }
    
    @media($desktop) {
        padding: 3rem 0 2rem 0;
    }
}

.excerpt {
    margin: 1rem 0;
    p:last-child {
        margin-bottom: 0;
    }
    @media($desktop) {
        font-size: 1.24rem;
        line-height: 1.8;
        margin-left: 0.5rem;
        p {
            display: inline-block;
            @include highlightLines(0.5rem, rgba(darken($paleblue, 25%), 0.75));
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
    }
}

.mid {
    @media($desktop) {
        padding-right: 2rem;
    }
}

.max-content {
    max-width: 52rem;

    > h2:first-of-type {
        margin-top: 0;
    }
}

h1, .excerpt {
    max-width: 45rem;
}

main > .mid {
    padding-bottom: 1rem;

    @media($desktop) {
        padding-bottom: 3rem;
    }

    body.type-post & {
        // max-width: 100%;
        padding: 0 !important;
    }
}

.featured-image {
    margin-bottom: 1.25rem;
    a {
        display: inline-block;
    }
    @media($desktop) {
        img {
            max-width: 500px;
        }
    }
}

.image-credit {
    @media($max-tablet) {
        display: none;
    }
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    text-decoration: none;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    opacity: 0.2;
    font-weight: 600;
    user-select: none;
    &:hover {
        opacity: 0.4;
        // text-decoration: underline;
    }
}

.disqus-comment-count {
    em {
        font-style: normal;
        #comments & {
            &:last-child {
                display: none;
            }       
        }
    }
}

article {
    position: relative;
    padding: 2rem 0;
    border-bottom: 1px solid $bordercolor;

    &:first-of-type {
        padding-top: 0;
    }

    h2 {
        margin-top: 0;
        padding-right: 4rem;
    }

    .comment-count {
        float: right;
        text-decoration: none !important;
        color: $paleblue;
        margin-right: 0.125rem;
        @media($desktop) {
            margin-top: 0.2rem;
        }
        i {
            transform: scale(0.8);
        }
        &:not(:hover) i {
            @extend .icono-commentEmpty;
        }
        &:hover {
            i {
                @extend .icono-comment;
            }
        }
        em {
            font-size: 1.7rem;
            top: 0.1rem;
            line-height: 1;
            position: relative;

            &:not(.dq-c) {
                display: none;
            }
        }
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.text-xs {
    font-size: 84%;
}

.text-sm {
    font-size: 92%;
}

.text-faded {
    color: rgba($base, 0.64);
}

.prev-next {
    @extend .clearfix;
    margin: 2.4rem 0 1.75rem;

    @media ($max-tablet) {
        display: none;
    }

    a {
        $offset: 0.5rem;
        position: relative;
        display: inline-block;
        opacity: 0.84;
        max-width: 45%;
        margin-left: -$offset;
        color: $paleblue;
        text-decoration: none;
        line-height: 1.25;

        i {
            float: left;
        }

        span {
            position: relative;
            top: 0.38rem;
            padding: 0.75rem 0;
            font-size: 0.94rem;
            font-weight: bold;
            color: $base;
        }

        &:hover {
            opacity: 1;

            span {
                color: lighten($paleblue, 10%);
            }
        }

        &.next {
            float: right;
            text-align: right;
            margin-left: 0;
            margin-right: -$offset;

            i {
                float: right;
            }
        }
    }
}

.fbx-wrap {
    position: sticky;
    top: 0;
    margin-left: -1.5rem;
    width: 100vw;
    border-bottom: 1px solid $bordercolor;
    backface-visibility: hidden;
    z-index: 30;

    body.type-post & {
        margin: 0;
    }
    
    @media($desktop) {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0;
        width: 100%;
        border: none;
    }

    label {
        transform: scale(0.7);
        display: inline-block;
        position: absolute;
        left: 1rem;
        z-index: 24;
        color: rgba(white, 0.5);
        margin-top: 0.33rem;

        @media($desktop) {
            top: 0.88rem;
            left: 2.5rem;
            margin: 0;
        }
    }

    input {
        $size: 1.125rem;
        position: relative;
        width: 100%;
        max-width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid transparent;
        line-height: 3rem;
        height: 3rem;
        padding: 0 0 0 3.75rem;
        z-index: 10;
        background: darken($paleblue, 10%);
        color: white;
        margin-bottom: -1px;
        
        @media($desktop) {
            background: transparent;
            line-height: 4rem;
            height: 4rem;
            padding-left: 6rem;
            margin: 0;
        }

        @include placeholder {
            color: rgba(white, 0.33);
        }

        &:focus {
            @media($desktop) {
                border-color: rgba(white, 0.16);
            }
            @include placeholder {
                color: rgba(white, 0.5);
            }
        }

        &[data-has-filter="1"] {
            ~.post-list {
                height: auto;
                overflow: auto;

                &::before {
                    background: rgba(darken($paleblue, 20%), 0.84);
                    transform: scaleY(1);
                }
            }
        }

        &[data-no-match="1"] {
            ~ .search-counter {
                position: absolute;
                top: 10rem;
                right: auto;
                left: 0;
                width: 100%;
                display: block;
                text-align: center;
                z-index: 40;
                color: rgba(white, 0.75);
                font-style: normal;
                font-size: 0.92rem;
                letter-spacing: 1px;
            }
            ~.post-list {
                &::before {
                    background: rgba(darken($paleblue, 20%), 0.94);
                }
            }
        }
    }

    body.page-home &,
    body.page-tags &,
    body.page-tagpages & {
        @media($desktop) {
            label {
                color: rgba($base, 0.5);
            }

            input {
                color: $base;

                @include placeholder {
                    color: rgba($base, 0.33);
                }

                &:focus {
                    border-color: $bordercolor;
                    background: white;
                    @include placeholder {
                        color: rgba($base, 0.5);
                    }
                }
            }
        }
    }
}

.post-list .fbx-keynav-active {
    background: lighten($hlcolor, 27%) !important;
}

.post-list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 0;
    overflow: auto;
    max-height: calc(100vh - 4rem);
    z-index: 8;

    @media($desktop) {
        position: absolute;
    }

    &::before {
        content: "";
        position: fixed;
        display: block;
        transform-origin: top;
        transform: scaleY(0);
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transition: background 0.2s;
        background: transparent;
        backface-visibility: hidden;
        z-index: -1;
    }

    li {
        background: white;
        a {
            margin-top: -1px;
            border-top: 1px solid rgba($bordercolor, 0.5);
        }
        
        @media($desktop) {
            padding-left: 6rem;
        }
    }
    
    a {
        display: block;
        padding: 1rem 1rem 1rem 3.75rem;
        color: $base;
        text-decoration: none;
        
        @media($desktop) {
            padding-left: 0;
        }

        &:hover {
            h3 {
                text-decoration: underline;
            }
        }
    }

    p {
        margin: 0;
        font-size: 0.97rem;
        padding-right: 2rem;
        display: none;
        @media($desktop) {
            display: block;
        }
    }

    h3 {
        margin: 0 0 -0.25rem;
        color: $paleblue;
        line-height: 1.25;
        @media($desktop) {
            margin: 0;
        }
    }

    .year {
        position: absolute;
        left: 2rem;
        opacity: 0.5;
        @media($max-tablet) {
            display: none;
        }
    }
}

.search-counter {
    color: rgba(white, 0.4);
    font-size: 0.9rem;
    font-style: italic;
    line-height: 4rem;
    position: absolute;
    right: 2rem;
    top: 0;
    margin-top: -0.6rem;
    z-index: 12;

    body.page-home & {
        color: rgba($base, 0.4);
    }

    @media($desktop) {
        margin-top: 0;
    }
}

fbxhl.on {
    background: rgba($hlcolor, 0.4);
    // border-bottom: 2px solid $hlcolor;
}

blockquote {
    border-left: 0.3rem solid $bordercolor;
    padding-left: 1.5rem;
    margin: 1.25rem 0 2rem;
}

@media ($tablet) {
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;

        &-track {
            background: transparent;
        }

        &-thumb {
            background: $paleblue;

            &:hover {
                background: lighten($paleblue, 10%);
            }
        }
    }
}

.copy-to-clipboard {
    $size: 1.84rem;
    position: absolute;
    top: 1.066rem;
    right: 1rem;
    background: transparent;
    border: none;
    width: $size;
    height: $size;
    color: $base;
    font-size: 0.96rem;
    filter: saturate(0) sepia(75%) hue-rotate(170deg) brightness(84%);
    
    &::before {
        content: "\1F4CB";
        position: absolute;
        top: 1px;
        left: 50%;
        transform: translateX(-50%);
        line-height: $size;
        backface-visibility: hidden;
    }
    
    &:not(:hover) {
        opacity: 0.5;
        filter: saturate(0);
    }

    &.copy-success {
        opacity: 1;
        transform: scale(1.125);
        transform-origin: center;
        color: $paleblue;
        animation: fade-in-out 1s ease-in-out;
        filter: none;
        &::before {
            content: "\2713";
            margin: 1px 0 0 -1px;
            font-weight: bold;
        }
    }

    span {
        display: none;
    }
}
 
@keyframes fade-in-out {
    0% { opacity: 0; }
    30% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}

blockquote {
    border-left: 0.3rem solid $bordercolor;
    padding-left: 1.5rem;
    margin: 1.25rem 0 2rem;
    cite {
        @extend .text-sm;
        @extend .text-faded;
        &::before {
            content: "-- ";
        }
    }
}

/* highlight js */

blockquote {
    pre {
        margin-left: 0;
    }
}

.hljs-ln-numbers {
    user-select: none;
    position: relative;
    left: -2rem;
    width: 1rem;
    text-align: right;
    color: rgba($base, 0.33);
    vertical-align: top;
    background: white;
    padding-left: 2rem !important;
    padding-right: 1rem !important;
}

pre {
    @media($max-tablet) {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    position: relative;
    margin-bottom: 1.5rem;
    font-size: 96%;

    code {
        display: block;
        padding: 1.25rem 1.5rem !important;
        background: $codeBgColor;
        margin-right: 0;
        margin-left: 0;
        line-height: 1.5;

        &.hljs {
            table {
                margin-left: -4rem;
            }

            &::before {
                position: absolute;
                top: 1.25rem;
                right: 3.125rem;
                display: inline-block;
                opacity: 0.25;
                user-select: none;
                font-size: 1rem;

                @media($max-tablet) {
                    display: none;
                }
            }

            &.language-javascript::before {
                content: "JavaScript";
            }

            &.language-html::before {
                content: "HTML";
            }

            &.language-css::before {
                content: "CSS";
            }

            &.language-php::before {
                content: "PHP";
            }

            &.language-ini::before {
                content: "INI";
            }

            &.language-sql::before {
                content: "SQL";
            }
        }
    }
}

table.hljs-ln {
    td {
        white-space: pre-wrap;
    }
}

code {
    background: $codeBgColor;
    display: inline-block;
    padding: 0 0.5rem;
    margin-left: 0.33rem;
    margin-right: 0.33rem;
    font-size: inherit;
}

.date {
    @extend .text-sm;
    @extend .text-faded;
    margin: 0 0 0.33rem;
}

.comment-count {
    @extend .text-sm;

    &:not(:hover) {
        text-decoration: none;
    }

    em {
        font-style: normal;
    }
}

.post-details {
    @include listWithSeparator($spacing: 0.33rem, $separator: "\2022", $color: rgba(white, 0.5));
    position: relative;
    top: -0.5rem;
    @media($desktop) {
        top: -1.5rem;
    }
}

.post-controls {
    position: relative;
    margin-top: 2rem;
    padding: 0.75rem 0;
    border-top: 1px solid $bordercolor;

    @media($desktop) {
        margin: 3.6rem 0 2rem;
    }
}

.post-tags {
    @extend .text-xs;
    @extend .text-faded;

    @media($desktop) {
        display: inline-block;
        width: calc(100% - 10rem);
    }
}

.sharingbuttons {
    margin-top: 1rem;
    @media($desktop) {
        float: right;
        line-height: 0;
        display: inline-block;
        margin: -4px 0.25rem -4px 0;
    }
}

.tags {
    @include clearfix;

    margin: 0;
    padding-left: 0;
    @include listWithSeparator($spacing: 0.33rem, $separator: "\2022", $color: rgba($base, 0.5));

    .post-tags & {
        padding-left: 2rem;
    }

    body.page-tags main & {
        @media ($tablet) {
            @include _fg(2, 0, 0);
            justify-content: center;
            overflow: hidden;
            outline: 3px solid white;
            margin-left: -0.75rem;
            outline-offset: -3px;
            li {
                border: 1px solid $bordercolor;
                border-width: 1px;
                margin: -1px -1px 0 0;
                &::after {
                    display: none;
                }
                &:hover {
                    background: $paleblue;
                    border-color: $paleblue;
                    a {
                        color: white;
                    }
                }
            }
            a {
                display: block;
                padding: 0.5rem 1rem;
                text-decoration: none;
                transition: none;
            }
        }
        @media ($desktop) {
            margin-left: -1rem;
        }
        @media ($hd) {
            @include _fg(3, 0, 0);
        }
    }
}

.sidebar-tags {
    margin: 3rem -1rem 1rem -0.5em;

    .tags {
        font-size: 0.88rem;
        li {
            position: relative;
            &::after {
                display: none;
            }
        }
        a {
            opacity: 0.33;
            padding: 0.2rem 0.36rem;
            text-decoration: none;
            user-select: none;
            display: inline-block;
            &:hover {
                opacity: 1;
                color: white;
                transform: scale(1.1);
            }
        }
    }
}

.breadcrumb {
    padding: 0;
    margin: -0.5rem 0 0.75rem 0;
    @include listWithSeparator($spacing: 0.33rem, $separator: "/", $addLast: true, $color: rgba($base, 0.5));
}

.icon-wrap {
    &.tag {
        position: absolute;
        transform: scale(0.62);
        left: -0.33rem;
        margin-top: -5px;
    }
}

#comments {
    position: relative;
    padding: 1.5rem 1.5rem 3rem;
    margin-bottom: -1rem;
    background: $codeBgColor;
    
    @media($desktop) {
        padding: 2rem 0 4rem;
        margin-bottom: -3rem;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}